<%= form_for(@shipping_type) do |f| %>
  <% if @shipping_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_type.errors.count, "error") %> prohibited this shipping_type from being saved:</h2>

      <ul>
      <% @shipping_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
